@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,700,900&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Poppins:,300,regular,600,700&display=swap&subset=cyrillic-ext);

/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	background-color: #f5f5f5;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

.main {
	max-width: 1440px;
	margin: 0 auto;
}
.block {
	max-width: 1020px;
	min-height: 700px;
	background-color: #fff;
	margin: 0 auto;
}
.logo_p {
	padding-left: 120px;
	padding-top: 105px;
	margin-bottom: 34px;
}
.logo {
	display: inline-block;
	vertical-align: top;
}
.logo_text {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 2.5px;
	color: #4b4b4b;
}
.logo__text {
}
.title {
	padding-left: 120px;
	min-width: 583px;
	height: auto;
	margin-bottom: 31px;
}
.title h2 {
	display: inline-block;
	width: 583px;
	color: #02133c;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}
.text {
	max-width: 846px;
	min-height: 76px;
	padding-left: 87px;
	margin-bottom: 87px;
}
.text p {
	display: inline-block;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.block_image {
	max-width: 846px;
	height: 420px;
	margin: 0 auto;
}
.block_image img {
	width: 100%;
	height: auto;
	margin-top: -296px;
}
.logotext {
	width: 1020px;
	height: 700px;
	background-color: #fff;
	margin: 0 auto;
}
.services_div {
	width: 1440px;
	margin-left: 207px;
}
.our_services {
	width: 324px;
	height: 340px;
	background-color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 24px;
}
/* Не учили, чисто интересно стало попробывать :) */
.our_services:hover {
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}
.services_img {
	margin-bottom: 33px;
}
.review {
	margin-bottom: 20px;
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	text-align: center;
	color: #02133c;
}
.ptext_1 {
	display: inline-block;
	width: 235px;
	margin-bottom: 49px;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.task_2 {
	max-width: 1039px;
	font-family: "Poppins", sans-serif;
}
.task2_h2 {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	color: #000000;
	margin-bottom: 26px;
}
.task2_h3 {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 19px;
}
.task_2 h6 {
	font-weight: 600;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	margin-bottom: 26px;
}

.main_p {
	font-weight: 300;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}
.main_p p {
	margin-bottom: 26px;
}
.task2_ul :last-child {
	margin-bottom: 26px;
}
.task3_block {
	background-color: #fff;
	width: 600px;
	height: 600px;
	border: 5px solid #fff;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	padding-top: 100px;
	padding-left: 40px;
}
.task3__h2 {
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	color: #000000;
	margin-bottom: 25px;
	max-width: 475px;
}
.task3_p {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
	color: #000000;
	text-align: left;
	max-width: 475px;
}
.task3_block img {
	margin-bottom: 14px;
}
